body {
    margin: 0;
    background-color: #141414;
    color: rgb(184, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 25, 25);
    padding: 10px 50px;
    align-items: center;
    color: white;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
  
  #filme_principal{
    border-bottom: 100% ;
    border-color: red;
  }
  
  #imagem_principal{
    width: 100%;
    opacity: 0.6;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
  
  #titulo_principal{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
  
  button{
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  
  button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px red;
  }

  #texto{
    width: 1200px;
    padding-left: 6%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px;
  }
  
  .menu-esquerda,
  .menu-direita {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .menu-esquerda img,
  .menu-direita img {
    width: 36px;
  }  
  
  footer {
    text-align: center;
    padding: 3%;
    color: red;
    border-top: 5px;
  }
  